<!-- Assuming you have a component property named 'machineStates' of type MachineState[] -->
<div class="font-roboto bg-gradient-to-br from-pink-500 via-purple-600 to-indigo-700 h-screen flex items-center justify-center">
  <div class="max-w-md bg-white p-8 rounded-md shadow-md">
    <h2 class="font-extrabold text-3xl mb-6 text-gray-800 text-center"> Machine Status</h2>

    <div class="grid grid-cols-1 auto-fill gap-4">
      <!-- Use *ngFor to loop through the machineStates array -->
      <div (click)="flipStatus(i)" *ngFor="let machine of machineState; let i = index" class="flex flex-col items-center bg-pink-200 p-6 rounded-md shadow-md">
        <!-- Display machine information using Angular interpolation -->
        <span class="font-semibold text-xl text-gray-800 mb-2 uppercase">{{ machine.machineName }}</span>
        <!-- Use ngIf to conditionally display "Running" or "Free to use" -->
        <div *ngIf="machine.inUse; else freeToUse" class="text-center">
        <span class="text-lg text-red-600 pr-3">Running</span>
        <div class="text-lg text-gray-800 fontbo">Time remaining: <span class="font-bold">{{ machine.machineTime }} </span></div>
        <div class="text-lg text-gray-800">Progress: <span class="font-bold">{{ machine.machineProgress }} </span></div>
        </div>
        <ng-template #freeToUse>
          <span class="text-lg text-green-600">Free to use</span>
      </ng-template>

      </div>
    </div>
  </div>
</div>
